<!DOCTYPE html>
<html>
  <head>

    <head>
      <title>Device Pack資料庫</title>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Creative CSS3 Animation Menus" />
      <meta name="keywords" content="menu, navigation, animation, transition, transform, rotate, css3, web design, component, icon, slide" />
      <meta name="author" content="Codrops" />
      <link rel="shortcut icon" href="../favicon.ico">
      <link rel="stylesheet" type="text/css" href="css/demo.css" />
      <link rel="stylesheet" type="text/css" href="css/style8.css" />
      <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />

    </head>
    <%= stylesheet_link_tag 'application' %>

  </head>

  <body>

  <div>
    <div class="container">
      <br>
      <br>
      <br>
      <h1>NVR/Shepherd Device Pack 資料庫 <span>Serach、SOC Compare &amp; Update</span></h1>
      <!--<div class="centered">-->
      <div class="content">
        <ul class="ca-menu">
          <li>
            <a href=<%= create_database_index_cct_nvr_db_cameras_path %> >
              <span class="ca-icon" id="red_icon">S</span>
              <div class="ca-content">
                <h2 class="ca-main">建立資料庫</h2>
                <h3 class="ca-sub">建立initial資料庫(慎用)</h3>
              </div>
            </a>
          </li>
          <li>
            <a href=<%= show_cam_info_index_cct_nvr_db_cameras_path(@cameras) %>>
              <span class="ca-icon">F</span>
              <div class="ca-content">
                <h2 class="ca-main">顯示資料庫</h2>
                <h3 class="ca-sub">顯示資料庫中model內容</h3>
              </div>
            </a>
          </li>
          <li>
            <a href=<%= show_soc_info_index_cct_nvr_db_cameras_path %>>
              <span class="ca-icon" >J</span>
              <div class="ca-content">
                <h2 class="ca-main">SOC平台比對</h2>
                <h3 class="ca-sub">比對Soc與Camera</h3>
              </div>
            </a>
          </li>
          <li>
            <!--<a href=<%#= update_cam_info_index_cameras_path  %>>-->

            <a href=<%= new_and_update_cam_info_index_cct_nvr_db_cameras_path  %>>

              <span class="ca-icon">L</span>
              <div class="ca-content">
                <h2 class="ca-main">新增、更新Camera/新增Other Info</h2>
                <h3 class="ca-sub">camera及版本等資訊</h3>
              </div>
            </a>
          </li>

          <!--<li>-->
            <!--<a href=<%#= update_cam_other_info_index_cameras_path %>>-->
              <!--<span class="ca-icon">B</span>-->
              <!--<div class="ca-content">-->
                <!--<h2 class="ca-main">新增Other Info</h2>-->
                <!--<h3 class="ca-sub">新增Camera 版本等其他資訊</h3>-->
              <!--</div>-->
            <!--</a>-->
          <!--</li>-->

          <li>
            <a href=<%= export_csv_index_cct_nvr_db_cameras_path %>>
              <span class="ca-icon">A</span>
              <div class="ca-content">
                <h2 class="ca-main">備份資料庫</h2>
                <h3 class="ca-sub">輸出至csv檔以備份資料庫</h3>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!--</div>-->

    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

  </div>




    <!--<div>-->

      <!--<ol>-->
        <!--<%#= Camera.column_names %>-->

        <!--<li>建立資料庫</li>-->

        <!--<ol>-->
          <!--<li>上傳total_camera_info.csv</li>-->
        <!--<%#= form_tag import_cameras_path, multipart: true do %>-->
            <!--<%#= file_field_tag :file_cameras, multiple: false %>-->

              <!--<%#= submit_tag "Import CSV" , data: { disable_with: "Please wait.." }%>-->
        <!--<%# end %>-->

          <!--<li>上傳nvr_dp_others_info.csv</li>-->
          <!--<%#= form_tag import_camera_other_infos_path, multipart: true do %>-->
              <!--<%#= file_field_tag :file_camera_others, multiple: false %>-->
              <!--<%#= submit_tag "Import CSV" , data: { disable_with: "Please wait.." }%>-->
          <!--<%# end %>-->
          <!--&lt;!&ndash;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

        <!--</ol>-->

        <!--<li>顯示資料庫</li>-->
        <!--<a href=<%#= camera_path(@cameras) %>>Show Database</a>-->

        <!--<li>SOC平台比對結果</li>-->
        <!--<a href=<%#= show_soc_info_index_cameras_path %>>Compare Database</a>-->



      <!--</ol>-->

    <!--</div>-->
  </body>
</html>