<% selected_camera_fw = Camera.find_by_Model_FW_name(@camera_model_fw_name) %>

<!--because other info may have multi-data with same Model_FW_name-->
<% selected_camera_other_fw_s = CameraOtherInfo.where(:Model_FW_name => @camera_model_fw_name) %>

<table border="2">
  <tbody>

  <tr><%= selected_camera_fw.Model_FW_name %></tr>

  <tr>
    <td>Soc</td>
    <td><%= selected_camera_fw.Soc %></td>
  <tr>


    <% selected_camera_fw.attributes.each do |attribute_name, attribute_value|%>
      <tr>
        <td><%= attribute_name %></td>
        <td><%= attribute_value %></td>
      <tr>
  <% end %>

  </tbody>
</table>


<table border="2">
  <tbody>

  <tr>Other Info:</tr>

  <tr>
    <td>Soc</td>
    <td><%= selected_camera_fw.Soc %></td>
  <tr>
    <% selected_camera_other_fw_s.each do |selected_camera_other_fw| %>

        <% selected_camera_other_fw.attributes.each do |attribute_name, attribute_value|%>
          <tr>
            <td><%= attribute_name %></td>
            <td><%= attribute_value %></td>
          <tr>


      <% end %>

      <tr class = blank_row><td colspan="2"></td>
      </tr>

  <% end %>

  </tbody>
</table>

<br>
<br>
<br> <br> <br> <br> <br> <br>




<div class="round-button">
  <a href=<%= root_url %>>
    Home
  </a>
</div>
