<!DOCTYPE html>
<html>
<head>

  <head>
    <!--<meta http-equiv="refresh" content="1" >-->
    <script src="sorttable.js"></script>

  </head>
  <%= stylesheet_link_tag 'application' %>

</head>
<body>
<h1>VAST Device Pack 資料庫 2.0<span>Serach、SOC Compare &amp; Update</span></h1>

<div class="center_item">
    <h1>Search for Camera</h1>

    <!--import CSV-->
    <ol>

      <br>


      <%= form_tag update_cam_info_index_cct_vast_db_cameras_path, :method => 'get' do %>
          <!--select SOC-->
          <li>
            <p>Search Database Camera (by SOC):<span class="tab"></span>
              <%= select_tag :search_by_soc_option, options_for_select(@soc_array) %>
              <br>
              <%= submit_tag "Search", class:'normal_button', data: { disable_with: "Please wait.." }, :name => nil %>
            </p>
          </li>
          <br>
      <% end %>



      <!--by keyword-->
      <%= form_tag update_cam_info_index_cct_vast_db_cameras_path, :method => 'get' do %>
          <!--select SOC-->
          <li>
            <p>Search Database Camera (by Keyword):<span class="tab"></span>
              <%= text_field_tag :search_update_cam_by_keyword, params[:search_update_cam_by_keyword] %>
              <br>
              <%= submit_tag "Search", class:'normal_button', data: { disable_with: "Please wait.." }, :name => nil %>
            </p>
          </li>
          <br>
      <% end %>

    </ol>


  <!--Test Show Keyword Search Result-->
  <% if @selected_keyword_models %>
      ----------------------------------------------------------------------------------------------------
      <br>
      <em style="color: mediumblue">Search Results:</em>
      <br>

      <div id="tableContainer" class="tableContainer">

        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="scrollTable">
          <thead class="fixedHeader">
            <tr>
              <th>Model</th>
              <th>SOC</th>
              <th>Checkbox</th>
            </tr>
          </thead>

          <tbody class="scrollContent">
            <%= form_tag update_cam_info_cct_vast_db_cameras_path, :method => 'get' do %>
                <% @selected_keyword_models.each do |camera| %>
                    <% model_fw_name_str = camera["CameraModel"] %>
                  <tr>
                    <td><%= model_fw_name_str %></td>
                    <td><%= camera["Soc"] %></td>
                    <td><%= check_box_tag 'check_box_ids_array[]' , camera.id %></td>
                  </tr>
              <% end %>

                <tr>
                  <td>
                  <%= submit_tag "Update!", class:'normal_button', data: { disable_with: "Please wait.." }, :name => nil %>
                  </td>
                </tr>
            <% end %>


          </tbody>



       </table>


      </div>

  <% end %>


</div>

<div class="round-button">
  <a href=<%= new_and_update_cam_info_index_cct_vast_db_cameras_path %>>
    Back
  </a>
</div>


</body>
</html>